body{
    text-align:center;
}
table {
    margin: auto; 
}
p{
    color:a13d3d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

td {
    margin: auto;
    background: rgb(182, 169, 169);
    border-radius: 50px;
    height:60px ;
    width:60px ;
    text-align: center;
}
td:hover{
   opacity: 0.5;

}

tr {
    margin: auto;
    border: 1px solid black;
    border-radius: 50px;
    height: 50px;
}



.player {
    margin-top:5px;
    border-radius: 170px 170px;
    width:50px;
    height: 50px;
    display: inline-block;
    
}
button{
    margin-top: 10px;
    height: 30px;
    color: cyan;
    border: 1px solid rgb(93, 16, 16);
    border-radius:5px ;
    background-color: #a13d3d;  
}
.d-flex{
display: flex;



}
