/* body{
    text-align:center;
}
table {
    margin: auto;

    
}

td {
    margin: auto;
    background: rgb(182, 169, 169);
    border-radius: 50px;
    height:60px ;
    width:60px ;
    text-align: center;
}
td:hover{
   opacity: 0.5;
}

tr {
    margin: auto;
    border: 1px solid black;
    border-radius: 50px;
    height: 50px;
}

.player {
    margin-top:5px;
    border-radius: 170px 170px;
    width:50px;
    height: 50px;
    display: inline-block;
    
}
button{
    margin-top: 10px;
    height: 30px;
    color: cyan;
    border: 1px solid rgb(93, 16, 16);
    background-color: salmon;
   
}


.d-flex{
display: flex;



} */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background : url(../medias/black-1072366_1920.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    line-height: 1.5;
    text-align: left;
    
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.text-white {
    color: #fff!important;
}

.navbar-collapse {
    font-size: 1.1rem;
}

.bloc {
    background-color: rgba(21,31,39,0.8);
    padding: 25px;
    border-radius: 25px;
}